*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    height: 50px;
    background-color: #1F2937; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container{
    display: flex;
    background-color: #1F2937;
    padding: 100px 200px;
    gap: 16px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 400px;
    gap: 8px;
}

.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #c3c5c9;
}

.hero-section .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.hero-section .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 200px;
    background-color: white;
    margin-bottom: 50px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 25px 0;
}

.card {
    width: 200px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-source {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
}

button{
    background-color: #3882F6;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 10px;
    color: #F9FAF8;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 32px;
}

a {
    color: white;
    text-decoration: none;
}